@{
  Layout = "_Layout";
}

@model GameTracker.Models.Game

<h2>Game Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h4>@Html.DisplayNameFor(model => model.Genre): @Html.DisplayFor(model => model.Genre)</h4>
<h4>@Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate)</h4>
<h4>@Html.DisplayNameFor(model => model.Link): @Html.DisplayFor(model => model.Link)</h4>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This game does not belong to any platforms</p>
}
else
{
  <h4>Platforms this game belongs to:</h4>
  @foreach(var join in Model.JoinEntities)
  {
    <p>@join.Platform.Name</p>
    @using (Html.BeginForm("DeletePlatform", "Games"))
    {
      @Html.Hidden("joinId", @join.GamePlatformId)
      @* <input type="submit" value="Delete"/> *@
    }
  }
}
<hr/>
<p>@Html.ActionLink("Add a Platform", "AddPlatform", new { id = Model.GameId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Game", "Edit", new { id = Model.GameId })</p>
<p>@Html.ActionLink("Delete Game", "Delete", new { id = Model.GameId })</p>