@{
  Layout = "_Layout";
}

@model GameTracker.Models.Game

<h2>Edit</h2>

<h4>Edit this game: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.GameId)

  @Html.LabelFor(model => model.Title)
  @Html.EditorFor(model => model.Title)

  @Html.Label("Select platform")
  @Html.DropDownList("PlatformId")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>